<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@ryanlessing.com" target="_blank">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://linkedin.com/in/ryanlessing" target="_blank">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="http://facebook.com/ryanlessing" target="_blank">Facebook</a>
  </li>
</ul>
